extends layout
block content
	h3(class="header blue-grey-text text-lighten-2") About Us
	div(class="col s12 center")
		p(class="left-align") We here at 'Get Ripped or Die Trying' strive to motivate everyone to be the best version of themselves. At Get Ripped, we are making it our goal to help you get the body you want. We know it's a lifestyle change and it won't be easy but, if you can dedicate yourself, anything is possible! 
		p(class="left-align") It's easy to make a new year's resolution or go to the gym on a weekend night with a friend, it's a whole other animal to get, and stick, to a 7 day routine.
		p(class="left-align") We know one of the most off-putting aspects of starting a fitness routine is not knowing where to start, what exercises to do, and how to do them safely.  
		p(class="left-align") This is where Get Ripped can help. We have compiled, optimal and efficient work out plans to ensure you'll be more shredded than a julienne salad. Get Ripped is also a social community full of like-minded fitness enthusiasts to keep you motivated, and push you through your fitness journey!
			