extends layout

block content
	
	ul (id="nav-mobile" class="side-nav")
		div (class="background")
			img (class="responsive-img" src="assets/images/Untitled-3.png")
		li
			a (class="subheader")Get Ripped
		li
			div (class="divider")
		li (class="active")
			a (href="placholder" class="userLink")User
		li 
			a (href="placeholder")Workouts
		li
			a (href="placholder")Social Feed

	div (id="index-banner" class="parralax-container")
		div (class="parallax")
			img (src="assets/images/placeholder.png" alt="Unsplashed background img 1")
	
	div (class="row center")
		h1 (class="header blue-grey-text text-lighten-2")Get Ripped or Die Trying
		h5 Get ready to work out
		a(href="placholder.html" class="waves-effect waves=light btn-lrg amber landingBtn")
			i (class="material-icons left")fitness+center
			Workouts
		a(href="placholder.html" class=waves-effect waves-light btn-large blue-grey landingBtn)
			i (class="material-icons left")search
			Social Feed
	div (class="parallax-container")
		div (class="parallax")
			img (src="assets/images/cat.png" alt="Unsplashed backgrond img 2")
	div (class="row center container")
		h3(class="header col s12 light") About Us

	div (class="row container")
		div (class="col s12 center")
			h3
				i (class="mdi-content-send brown-text")
			h4 Get Ripped or Die Trying
			p We here at 'Get Ripped or Die Trying' strive to motivate everyone to be the best version of themselves and a bunch of other stuff that I can't currently think of and will add a whole bunch of this later on so these are just random placeholder lines for now haha. 
	div (class=parallax-container)
		div (class="parallax")
			img (src="assets/images/placeholder" alt="Unsplashed background img 3")
