extends layout
block content
	h3(class="header blue-grey-text text-lighten-2") About Us
	div(class="col s12 center")
		p We here at 'Get Ripped or Die Trying' strive to motivate everyone to be the best version of themselves and a bunch of other stuff that I can't currently think of and will add a whole bunch of this later on so these are just random placeholder lines for now haha. 
			