html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content="ie=edge")
        title Get Ripped
        script(src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js")
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js")
        script(src="../public/assets/js/app.js")
        link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower")
        link(rel="stylesheet" href="assets/css/style.css")
    body(background="http://9b1828418d3f1d35dc28-c1efe15f97cbb00e968d9985eda5a0e7.r51.cf1.rackcdn.com/lps/assets/u/Fitness-center-Falisia-Resort.jpg")
        .navbar-fixed
            nav(class="blue-grey" role="navigation")
                div(class="nav-wrapper container")
                    a(id="login" href="#" class="left") Login
                    a(id="logout" href="#" class="left" hidden="true") Logout
                    a(id="logo-container" href="index.html" class="brand-logo center")
                        img(height="50" src="placeholder.png")
                    ul(class="right hide-on-med-and-down")
                        li
                            a(href="placeholder" class="userLink") User
                        li
                            a(href="placeholder") Work Out Plans
                        li
                            a(href="placeholder") Info and Videos
                    a(href="#" data-activates="nav-mobile" class="button-collapse right")
        ul(id="nav-mobile" class="side-nav")
            .background
                img(class="responsive-img" src="public.assets/images/Resort.jpg")
            li
                a(class="subheader") Get Ripped
            li
                .divider
            li(class="active")
                a(href="index.html") Home
            li
                a(href="placeholder" class="userLink") User
            li
                a(href="placeholder") Workouts
            li
                a(href="placeholder") Social Feed
        div(class="row center")
            h1(class="header blue-grey-text text-lighten-2") Get Ripped or Die Trying
            h5 Get ready to work out
            a(href="placeholder.html" class="waves-effect waves-light btn-large amber landingBtn") Workouts
            a(href="placeholder.html" class="waves-effect waves-light btn-large blue-grey landingBtn") Social Feed
        .parallax-container
            .parallax
                img(src="" alt="Unsplashed background img 2")
        div(class="row center container")
            block content
        div(class="row container")
            div(class="col s12 center")
                h3
                h4
        footer(class="page-footer amber")
            .container
                .row
                    div(class="col l6 s12")
                        h5(class="white-text") Get Ripped
                        p(class="grey-text text-lighten-4")
                    div(class="col l3 s12")
                        h5(class="white-text") Settings
                        ul
                            li
                                a(class="white-text" href="#!") Link 1
                    div(class="col l3 s12")
                        h5(class="white-text") Connect
                        ul
                            li
                                a(class="white-text" href="#!") Link 1
        .footer-copyright
            .container
                p Follow us at 
                    a(class="black-text text-lighten-3" href="www.faceook.com/GetRippedCWRU") GetRippedCWRU
        script(src="assets/javascript/placeholder.js")
        script(src="assets/javascript/placeholder.js")
