doctype html
html
	head
		meta (charset-"UTF-8")
		meta (name="viewport" content="width=device-width, initial-scale=1.0")
		meta (http-equp="X-UA-Compatible" content="ie=edge")
		title Get Ripped
		script (src="https://www.gstatic.com/firebasejs/4.7.0/firebase.js")
  		script (src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
  		script (src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js">
  		link (rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css")
  		link (rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons")
  		link (rel="stylesheet" href="https://fonts.googleapis.com/css?family=Indie+Flower")
  		link (rel="stylesheet" href="/assets/css/style.css")

	body
		div (class="navbar-fixed")
			nav (class="blue-grey" role="navigation")
				div (class="nav-wrapper container")
					a (id="login" class="left") Login
					a (id="logout" class="left" hidden="true")Logout
					a (id="logo-container" class="brand-logo center")
						img (height="50" src="http://via.placeholder.com/50x50")
					ul (class="right hide-on-med-and-down")
						li
							a (href="placeholder" class="userLink")User
						li	
							a (href="placeholder" )Work Out Plans
						li
							a (href="placeholder" )Info and Videos
					a (href="#" data-activates="nav-mobile class="button-collapse right)
						i (class="material-icons")Menu
		
		block content

		footer (class="page-footer amber")
			div (class="row center")
				div (class="col s12")
					h5 (class="white-text")Get Ripped &copy; 2018
					p (class="grey-text text-lighten4")Powered by whatever we end up using.
					a (class="grey-text text-lighten" href="https://www.placeholder.com")www.placeholder.com