extends layout
block content
	.col.s12.m6
		h5(class="centeredTitle") Create an Account
			div(class="card-panel")
				h6(class="centeredTitle") Sign up with your email address.
				div(class="row")
					form(class="col s12" method="put" id="createAcct")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Desired Username" id="createUsername" type="text" class="validate")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Your e-mail" id="createEmail" type="email" class="validate")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Password" id="createPassword" type="password" class="validate")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Confirm Password" id="confirmPassword" type="password" class="validate")
						button#createAccount(class="btn waves-effect waves-light" type="submit" name="action") Create Account
	.col.s12.m6
		h5(class="centeredTitle") Login with Existing Account
			div(class="card-panel")
				div(class="row")
					form(class="col s12" method="put" id="loginForm")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Username" id="usernameInput" type="text" class="validate")
						div(class="input-field col s10 offset-s1")
							input(placeholder="Password" id="password" type="password" class="validate")
						button#login(class="btn waves-effect waves-light" type="submit" name="action") Login

										