extends layout
block content
    h4 @#{username}'s Profile
    br
    .row
        .col.m6.sm12
            h5 Bio
            h6 Name: #{profName}
            h6 City: #{profLocation}
            br
            a(class="waves-effect waves-light btn modal-trigger" href="#modal2") Update Profile
            div(id="modal2" class="modal")
                .modal-content
                    h4 Update Profile
                    form
                        .input-field
                            input#updatePic(placeholder="Update Profile Picture" type="text")
                        .input-field
                            input#updateName(placeholder="Update Profile Name" type="text")
                        .input-field
                            input#updateLocation(placeholder="Update Location" type="text")
                        button#updateProfile(class="btn waves-effect waves-light" type="submit" name="action") Update Profile
        .col.m6.sm12
            h5 Work Out Log
            br
        
            