extends layout
block content
	a(class="waves-effect waves-light btn modal-trigger" href="#modal1") Post Something
	div(id="modal1" class="modal")
		.modal-content
			h4 Humble Brag
			form
				//- In the future, we would use this file input field to upload photos rather than using links
				//- div(class="file-field input-field")
				//- 	div(class="btn")
				//- 		span File
				//- 		input(type="file")
				//- 	div(class="file-path-wrapper")
				//- 		input(id="#uploadPhoto" class="file-path validate" type="text")
				.input-field
					input#uploadPhoto(placeholder="Upload a link to your photo" type="text")
				.input-field
					input#uploadCaption(placeholder="Upload caption" type="text")
				button#uploadPost(class="btn waves-effect waves-light" type="submit" name="action") Submit
	.row
		h4 Your feed
		.row
			div(class="card")
				#photo(class="offset-s3 col s6")
					each val in postData
						img(class="photo" alt="No image available." src=val.photo)
					
						.caption= val.caption
	
						.user= val.userId
						br