.centeredTitle{
	text-align: center;
}

#main-content{
	padding: 15px;
	margin-bottom: 200px;
	background-color: white;
}

.photo{
	max-width: 90%;
}

#workouts {
	padding: 10px 20px;
}

.exercise-btn {
	margin: 5px;
}

.page-footer a {
	color: #eee !important;
}

.page-footer a:hover {
	color: #90a4ae !important;
}

.btn, .btn-large {
    background-color: #607d8b;
}

.btn:hover {
    background-color: #536C78;
}

.amber.btn:hover {
	background-color: #EBB206 !important;
}
